/**ajout de la bonne couleur à la nav bar**/
#mainNav {
    background-color: #1cd158b1 !important ;
}



.btnAjoutEnchere{
    letter-spacing: 5% !important;
    font-size: 18px;
    width: 220px;
    height: 50px;
}
/**PLACEMENT ET ANIMATIONS DE LISTENCHERE ET DE ENCHERENAV**/
#listeenchere:after{
    content: '';
    display: block;
    height: 0;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
#listeenchere:hover:after {
    opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  #encherenav:after{
    content: '';
    display: block;
    height: 0;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }
  #encherenav:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    }

