html, body{
margin: 0 !important;
padding: 0 !important;
width: 100% !important;
font-size: 20px;
letter-spacing: 5%;
font-family: 'Roboto', sans-serif !important;
}


.card{
display:block;
align-items: center;

}
/***AJOUT DE DIMENSIONS FIXE POUR LES IMAGES ET LES CONTENUS TXT DES CARD **/
.card-title{
font-weight: bold;
height: 40px;
width: 290px;
/**Cache le text si il dépasse de son contenu. N'empeche pas de mettre une limitation de
caratères dans la validation du formulaire***/
overflow: hidden!important;
}
/**Ajout visuel timer sur card image**/
.timer{
    display: flex;
    justify-content: center;
   width: 350px;

    border: 1px solid black;
    background-color: rgb(92, 123, 90) ;
    z-index: 1;
}
.card-img-top{
height:290px;
width: 100%;
}
.card-text{
height:150px ;
width: 290px;
overflow: hidden!important;
}
